  .charts-view, .charts-view-global {
    height: 550px;
    min-width: 1180px;
  }
  .charts-dialog-view {
    height: 390px;
    width: 1500px;
  }
.userList {
  .grid {
    width: 1180px;
    height: 620px;
  }
}
  #gridUser {
    .ui-grid-row:nth-child(odd) .ui-grid-cell {
      background-color: rgba(162, 246, 249, .5);
      padding-top: 3px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }
    .ui-grid-row:nth-child(even) .ui-grid-cell {
      padding-top: 3px;
      background-color: rgba(128, 247, 176, .5);
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }
    .ui-grid-footer {
      margin-bottom: 20px;
    }
    .ui-grid-top-panel {
      font-weight: bold;
      background: rgba(128, 247, 176, .5);
    }
    ui-grid-pager-max-pages-number {
      padding-left: 20px;
    }
  }
