.md-button.md-small {
    min-width: 1%;
    height: 15px;
  }
.md-button.md-green {
    background-color: green;
  }
.md-icon-float {
    font-size: 15px;
    width: 20% ;
    float: left;
}
table {
    font-size: 15px;
}