<md-dialog aria-label="Print Window Dialog">
  <md-toolbar md-colors="{background: '{{$ctrl.userData.themeColor}}'}">
    <div class="md-toolbar-tools">
      <h2 translate="userDetails.save"></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()" md-colors="{background: '{{$ctrl.userData.themeColor}}'}">
        <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
      <form name="printWindow" ng-submit="$ctrl.export()">
        <md-input-container >
            <label>Columns</label>
            <md-select ng-model="export_column_type" >
                <md-option ng-value="all" >All</md-option>
                <md-option ng-value="visible">Visible</md-option>
           </md-select>
        </md-input-container>
        <md-input-container>
            <label>Rows</label>
            <md-select ng-model="export_row_type">
                <md-option ng-value="all">All</md-option>
                <md-option ng-value="visible">Visible</md-option>
                <md-option ng-value="selected">Selected</md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Format</label>
            <md-select ng-model="export_format">
                <md-option ng-value="csv">CSV</md-option>
                <md-option ng-value="pdf">PDF</md-option>
            </md-select>
        </md-input-container>
        <md-dialog-actions>
          <md-button class="md-raised md-primary" type="submit" aria-label="Export" md-colors="{background: '{{$ctrl.userData.themeColor}}'}" translate="userDetails.export"></md-button>
        </md-dialog-actions>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>