$gridColor: #607D8B;
#grid1{
  color: #607d8b;
  height: auto;
  width: 96%;
  padding-left: 0;
}
.button-section {
  margin: 2% 0 2% 5%;
  #swapData:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #666;
    transition: 0.4s;
  }
  #swapData:hover:after {
    width: 100%;
  }
}
.email-data {
  padding: 5px;
  color: $gridColor;
  font-size: 15px;
  text-decoration: none;
}
.button-section {
  margin: 2% 0 2% 5%;
}
.cell-template-ref {
  text-decoration: none;
  color: #607d8b;
}
.ui-grid-menu-button {
  height: 31px;
}
.ui-grid-filter-container {
  width: 60%;
}
.delete {
  margin: 4px;
}
