<div layout="column" layout-fill>
	<appheader></appheader>
	<div class="container" layout="row" flex>
		<md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
			<appnav></appnav>
		</md-sidenav>
		<md-content flex flex-offset="5">
	      <h1 translate="home.title"></h1>
	      <!--<div class="jumbotron">
			  <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
			  <h2 class="text-center">Home</h2>
			  <div class="text-center" ng-if="!isAuthenticated">
			    <p>You are not yet authenticated. <button class="btn btn-primary" ng-click="$ctrl.AuthService.login()">Log In</button></p>
			  </div>
			  <div class="text-center" ng-if="isAuthenticated">
			    <p>Thank you for logging in! <a href="javascript:;" ng-click="vm.appService.logout()">Log out.</a></p>
			  </div>
		  </div>-->
	  </md-content>
	</div>
</div>
