<div layout="column" layout-fill>
	<appheader></appheader>
	<div class="container" layout="row" flex>
		<md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
			<appnav></appnav>
		</md-sidenav>
		<md-content flex layout="row">
    <div flex layout="column" layout-align="center center" md-colors="{background: '{{$ctrl.users.themeColor}}'}" id="home">
	      <h1 class="md-display-2" translate="home.title"></h1>
        <md-button md-colors="{background: '{{$ctrl.users.themeColor}}-400'}" translate="home.getStarted"></md-button>
	  </div>
    </md-content>
	</div>
</div>
