<div layout="column" layout-fill>
    <appheader></appheader>
    <div class="container" layout="row" flex>
        <md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
            <appnav></appnav>
        </md-sidenav>

        <md-content flex flex-offset="5" class="userDetails">
            <h1>Users details</h1>
            <switcher state="$ctrl.state" on-state-change="$ctrl.state = $event.state"> </switcher>
            <user-table state="$ctrl.state"> </user-table>
       </md-content>
    </div>
</div>