<md-dialog aria-label="Add Email Dialog">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add Email</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
        <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
      <form name="addEmailForm" ng-submit="$ctrl.submit(addEmailForm.$valid)" novalidate>

        <md-input-container>
          <label>Email</label>
          <input required type="email" name="email" ng-model="$ctrl.formData.email" ng-pattern="/^.+@.+\..+$/">
          <div ng-messages="addEmailForm.email.$error" ng-show="addEmailForm.$submitted">
            <div ng-message="required">This is required</div>
            <div ng-message="pattern">Invalid email</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Group</label>
          <input type="text" required name="group" ng-model="$ctrl.formData.group" md-maxlength="20">
          <div ng-messages="addEmailForm.group.$error" ng-show="addEmailForm.$submitted">
            <div ng-message="required">This is required</div>
            <div ng-message="md-maxlength">Max length 20</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Subject</label>
          <input required name="subject" ng-model="$ctrl.formData.subject" md-maxlength="20">
          <div ng-messages="addEmailForm.subject.$error" ng-show="addEmailForm.$submitted">
            <div ng-message="required">This is required</div>
            <div ng-message="md-maxlength">Max length 20</div>
          </div>
        </md-input-container>

        <md-dialog-actions>
          <md-button class="md-raised md-primary" type="submit" aria-label="Add">Add</md-button>
        </md-dialog-actions>

      </form>
    </div>
  </md-dialog-content>
</md-dialog>
