<div layout="column" layout-fill>
  <appheader></appheader>
  <div class="container" layout="row" flex>
    <md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
      <appnav></appnav>
    </md-sidenav>
    <md-content flex class="content">
      <div class="email-data">
        <div class="email-data-detail">
          <span class="email-data-detail-subject" ng-bind="$ctrl.currentData.subject"></span>
          <span class="email-data-detail-recipient" ng-bind="$ctrl.currentData.recipient"></span>
        </div>
        <div class="email-data-content"><span ng-bind="$ctrl.currentData.content"><span></div>
        <div><img ng-src={{$ctrl.currentData.thumbnail}}></div>
        <md-button class="md-primary" ui-sref="grid"><i class="material-icons email-data-icon">reply</i>Back</md-button>
        <md-button class="md-primary" ng-click="$ctrl.deleteUser()"><i class="material-icons email-data-icon">delete_forever</i>Delete</md-button>
      </div>
    </md-content>
    </div>
</div>
