@import '../grid';

ul {
  list-style: none;
}
.email-data {
    margin: 3% auto;
    text-decoration: none;
    width: 70%;
    font-size: 1.1em;
    color: #2f373a;
    &-detail {
        text-indent: 20px;
        line-height: 30px;
        font-size: 1.2em;
        &-subject {
            text-align: center;
        }
    }
    &-content {
        line-height: 30px;
    }
    &-icon {
        position: relative;
        top: 5px;
    }
}