<md-toolbar layout="row" class="md-toolbar-tools md-whiteframe-2dp" layout-align="space-around center" layout-align-xs="start center">
  <md-button flex-xs="20" class="md-icon-button" ng-click="$ctrl.toggleMenu()">
    <md-icon class="material-icons">menu</md-icon>
  </md-button>
  <h1><a ui-sref="home" translate="title"></a></h1>
  <div hide-xs>
    <md-button class="md-raised" translate="signIn"></md-button>
    <md-button class="md-raised md-primary" translate="signOut"></md-button>
    <md-button class="md-raised md-warn" translate="logOut"></md-button>
  </div>
  <md-button ng-class="{'md-accent':$ctrl.lan === 'en'}" ng-click="$ctrl.changeLanguage('en');" class="md-icon-button">EN</md-button>
  |
  <md-button ng-class="{'md-accent':$ctrl.lan === 'ua'}" ng-click="$ctrl.changeLanguage('ua');" class="md-icon-button">UA</md-button>
</md-toolbar>
