<md-toolbar class="md-toolbar-tools md-whiteframe-2dp" layout-align="center center" md-colors="{background: '{{$ctrl.color}}'}">
  <h1 translate="menu.title"></h1>
</md-toolbar>
<md-list layout-align="center center" layout="column">
  <md-list-item hide-gt-xs>
    <language-change></language-change>
  </md-list-item>
	<md-list-item>
		<md-button class="md-raised" ui-sref="home" aria-label="Home button" translate="menu.home"></md-button>
	</md-list-item>
	<md-list-item ng-if="$ctrl.AuthService.isAuthenticated()">
		<md-button class="md-raised" ui-sref="cabinet" aria-label="Cabinet button" translate="menu.cabinet"></md-button>
	</md-list-item>
  <md-list-item ng-if="$ctrl.AuthService.isAuthenticated() && $ctrl.usersData.isAdmin">
    <md-button class="md-raised" ui-sref="charts"  translate="menu.statistic"></md-button>
  </md-list-item>
  <md-list-item ng-if="$ctrl.AuthService.isAuthenticated()">
    <md-button class="md-raised" ui-sref="grid" translate="menu.emails"></md-button>
  </md-list-item>
    <div hide-gt-sm layout="column">
      <md-button class="md-raised md-primary" aria-label="Sign In" ng-if="!$ctrl.AuthService.isAuthenticated()" ng-click="$ctrl.AuthService.login()" md-colors="{background: '{{$ctrl.color}}'}" translate="header.signIn"></md-button>
      <md-button class="md-raised md-warn" aria-label="Log Out" ng-if="$ctrl.AuthService.isAuthenticated()" ng-click="$ctrl.AuthService.logout()" translate="header.logOut"></md-button>
  </div>
</md-list>
