<md-toolbar class="md-toolbar-tools md-whiteframe-2dp" layout-align="center center" md-colors="{background: '{{$ctrl.users.themeColor}}'}">
  <h1 translate="menu.title"></h1>
</md-toolbar>
<md-list layout-align="center center" layout="column">
  <md-list-item hide-gt-xs>
    <language-change></language-change>
  </md-list-item>
	<md-list-item>
		<md-button class="md-raised md-primary but" md-colors="{background: '{{$ctrl.users.themeColor}}'}" ui-sref="home" aria-label="Home button" translate="menu.home"></md-button>
	</md-list-item>
	<md-list-item ng-if="$ctrl.AuthService.isAuthenticated()">
		<md-button class="md-raised but" ui-sref="cabinet" md-colors="{background: '{{$ctrl.users.themeColor}}'}" aria-label="Cabinet button" translate="menu.cabinet"></md-button>
	</md-list-item>
  <md-list-item ng-if="$ctrl.AuthService.isAuthenticated()">
    <md-button class="md-raised but" ui-sref="charts" md-colors="{background: '{{$ctrl.users.themeColor}}'}"  translate="menu.statistics"></md-button>
  </md-list-item>
  <md-list-item ng-if="$ctrl.AuthService.isAuthenticated()">
    <md-button class="md-raised but" ui-sref="grid" md-colors="{background: '{{$ctrl.users.themeColor}}'}" translate="menu.emails"></md-button>
  </md-list-item>
  <md-list-item hide-gt-sm>
      <md-button class="md-raised but" aria-label="Sign In" md-colors="{background: '{{$ctrl.users.themeColor}}'}" ng-if="!$ctrl.AuthService.isAuthenticated()" ng-click="$ctrl.AuthService.login()" translate="header.signIn"></md-button>
    </md-list-item>
    <md-list-item hide-gt-sm>
      <md-button class="md-raised md-warn but" aria-label="Log Out" ng-if="$ctrl.AuthService.isAuthenticated()"  ng-click="$ctrl.AuthService.logout()" translate="header.logOut"></md-button>
    </md-list-item>
  
</md-list>
