<div >
    <md-content flex class="content" >
        <h1 translate="userDetails.title"></h1>
        <section>
            <div  ui-grid="$ctrl.gridOptions"  ui-grid-exporter ui-grid-selection  class="grid">
            </div>
        </section>
        <export-table on-set-param='$ctrl.export(exportData)'> </export-table>
    </md-content>
        
<!--
        <label>Which columns should we export?</label>
      <select ng-model="$ctrl.export_column_type"</select>
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
      </select>
      <label>Which rows should we export?</label>
      <select ng-model="$ctrl.export_row_type"</select>
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
        <option value='selected'>Selected</option>
      </select>
      <label>What format would you like?</label>
      <select ng-model="$ctrl.export_format"</select>
        <option value='csv'>CSV</option>
        <option value='pdf'>PDF</option>
      </select>
      <button ng-click="$ctrl.export()">Export</button>
      <div>
        <label>Your CSV will show below:</label>
        <span class="ui-grid-exporter-csv-link">&nbsp</span>
      </div>
    

-->
</div>

