<md-toolbar layout="row"
            class="md-toolbar-tools md-whiteframe-2dp"
            layout-align="space-around center"
            layout-align-xs="center center"
            md-colors="{background: '{{$ctrl.user.themeColor}}'}">
<div class="switcher">
    <md-button class="md-raised md-primary" aria-label="Chart"  ng-click="$ctrl.setState('chart')" translate="userDetails.buttonChart" md-colors="{background: '{{$ctrl.user.themeColor}}'}">
    </md-button>
    <md-button class="md-raised md-primary" aria-label="Table"  ng-click="$ctrl.setState('table')" translate="userDetails.buttonTable" md-colors="{background: '{{$ctrl.user.themeColor}}'}"></md-button>

</div>
</md-toolbar>

