<div layout="column" layout-fill>
  <appheader></appheader>
  <div class="container" layout="row" flex>
    <md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
      <appnav></appnav>
    </md-sidenav>
    <md-content flex class="content">
      <div class="md-padding" ng-cloak layout="column">
        <md-card>
          <div layout="row">
           <md-card class="userImage" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
              <md-card-title>
                <md-card-title-text class="userImage">
                  <span class="md-headline">My cabinet</span>
                  <span class="md-subhead">{{$ctrl.users.login}}</span>
                  <span class="md-subhead" ng-model="user.email">{{$ctrl.users.email}}</span>
                  <md-button style="width:10%" class="imgbuttons small md-warn">Log out</md-button>
                </md-card-title-text>
                <md-card-title-text class="userImage">
                  <span class="md-subhead">Name:{{$ctrl.users.name}}</span>
                  <span class="md-subhead">Surname:{{$ctrl.users.surname}}</span>
                  <span class="md-subhead">{{$ctrl.users.birthDay|date:'MMMM dd,yyyy'}}</span>
                  <span class="md-subhead">Adress:{{$ctrl.users.city}},{{$ctrl.users.country}},{{$ctrl.users.postadress}}</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-md card-media"><img class="avatar" src="{{$ctrl.users.avatar}}"></div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions class="md-media-md card-media" layout="row" layout-align="center">
              <md-button  class="imgbuttons small">to Incoming messages</md-button>
                <md-button  class="imgbuttons small">to Blocklist</md-button>
                <md-button  class="imgbuttons small">to Safelist</md-button>

                <label class="md-button imgbuttons small">Upload photo
                  <input cabinet-uploader class="ng-hide" type="file"/>
                </label>

                <md-button ng-click="$ctrl.deleteAvatar()"  class="imgbuttons small">Delete photo</md-button>
              </md-card-actions>
            </md-card>
          </div>
          <form name="personalForm" ng-submit="$ctrl.submitForm()">
                <md-card-content>
                  <div class="bio" layout="column">
                    <md-input-container class="biography">
                      <label>Name</label>
                      <input type="text" name="name" ng-model="$ctrl.user.name">
                    </md-input-container>

                    <md-input-container class="biography">
                      <label>*Nickname*</label>
                      <input type="text" name="login" ng-model="$ctrl.user.login">
                    </md-input-container>

                    <md-input-container class="biography">
                      <label>Surname</label>
                      <input type="text" name="surname" ng-model="$ctrl.user.surname">
                    </md-input-container>

                    <md-input-container class="biography">
                      <label>Birth date</label>
                      <md-datepicker ng-model="$ctrl.user.birthDay" name="birthDay"></md-datepicker>
                    </md-input-container>

                  </div>

                  <div layout="row">
                    <md-input-container class="adress">
                      <label>Country</label>
                      <md-select id="country" ng-model="$ctrl.user.country"  ng-change="$ctrl.clearCity()" >
                        <md-option value=''><em>None</em></md-option>
                        <md-option  ng-repeat="country in $ctrl.countries" ng-value="country">
                          {{country.country}}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container class="adress">
                      <label>City</label>
                      <md-select id="city" ng-disabled="!$ctrl.user.country.city" ng-model="$ctrl.user.city">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="city in $ctrl.user.country.city" ng-value="city">
                          {{city}}
                        </md-option>
                      </md-select>
                    </md-input-container>

                    <md-input-container class="adress">
                      <label>Adress</label>
                      <input type="text" name="lastname" ng-model="$ctrl.user.postadress">
                    </md-input-container>
                  </div>
                </md-card-content>
            <md-button class="button submit" layout-align="center"  type="submit">Save changes</md-button>
          <form>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
