.home {
  color: red;
}
.selectdemoBasicUsage md-input-container {
  margin-right: 10px; }

.userImage{
  width:100%;
}
.adress{
  width:32%;
}
.biography{
  width:50%;
  margin:0;
}
.imgbuttons.small{
 font-size:8px;
}
.button.submit{
  width:98%;
}
