@import '../../app';
.charts {

    #piechart {
       height: 500px;
       width: 100%;
    }
    #columnchart {
       height: 500px;
       width: 100%;
    }
    .charts-dialog-view {
      height: 300px;
      width: 1000px;
    }
  h1, h2 {
    text-align: center;
    color:#999999;
  }
  .charts-view {
    min-height: 600px;
    min-width: 1000px;
  }
  .prev {
    background-color: $navPrev;
     color:#FAFAFA
  }
  .next {
    background-color: $navNext;
    color:#FAFAFA
  }
  .radio {
    display: inline-block;
  }
  .dialog {
    visibility: hidden;
  }
  .list {
    border: 2px solid black;
  }
  .backgr {
    background-color: silver !important;
  }
}
