@import '../../app';
.charts {
  height: 100%;
  min-height: 700px;
  h1, h2 {
    text-align: center;
    color: $textColor;
  }
  .charts-view {
    min-height: 600px;
  }
  .prev {
    background-color: $navPrev;
  }
  .next {
    background-color: $navNext;
  }
  .radio {
    display: inline-block;
  }
  .md-list-item:hover {
        background-color:$navPrev;
    }
}
