<appheader></appheader>
<div  class="container"
      layout="row"
      flex>
  <md-sidenav md-is-locked-open="check"
              class="md-whiteframe-4dp">
    <appnav></appnav>
  </md-sidenav>
  <md-content flex class="content">
    <section class="charts">

       <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-checkbox ng-model="check"></md-checkbox>
          <h2>
            <span>Global Data Statistics</span>
          </h2>
          <span flex></span>
          <md-button class="md-primary md-raised" ng-click="$ctrl.changeView('global')">
       Global Data
        </md-button>
        <md-button class="md-primary md-raised" ng-click="$ctrl.changeView('user')">
        User Data
        </md-button>
        </div>
      </md-toolbar>
      <section class="global-chart">
        <md-tabs  md-dynamic-height
                  md-border-bottom
                  md-selected="$ctrl.configData.currentNavItem">
          <md-tab label="{{chart.label}}"
                  ng-repeat="chart in $ctrl.configData.tags"
                  aria-label="tab">
            <md-content class="md-padding">
              <h1 ng-bind="chart.name"></h1>
              <section  layout="row"
                        layout-sm="column"
                        layout-align="end center"
                        layout-wrap>
                  <div  layout="row"
                        layout-align="start center"
                        flex>
                    <md-button  class="prev"
                                ng-click="$ctrl.previousItem()"
                                ng-bind="$ctrl.configData.buttons.prev"
                                aria-label="buttonPrev"></md-button>
                    <span flex></span>
                  </div>
                    <md-button  class="next"
                                ng-click="$ctrl.nextItem()"
                                ng-bind="$ctrl.configData.buttons.next"
                                aria-label="buttonNext"></md-button>
              </section>
                 <div id="{{chart.id}}"
                     class="charts-view">
                </div>
              <md-content>
            </md-tab>
          </md-tabs>
        <section  layout="row"
                  layout-align="center center">
          <md-radio-group ng-model="$ctrl.configData.currentNavItem"
                          class="md-primary radio-container">
            <md-radio-button  class="radio"
                              ng-repeat="radio in $ctrl.configData.tags"
                              ng-value="radio.value"
                              aria-label="radio">
            </md-radio-button>
          </md-radio-group>
        </section>
      </section>
<!--        <div id="piechart"></div>
        <div id="columnchart"></div> -->
      <div>
        <md-list class="containerVertical" flex>
          <md-list-item class="md-3-line "
                        ng-repeat="item in $ctrl.usersList"
                        ng-click="null"
                        class="charts-dialog-view">
            <img ng-src="{{item.avatar}}?{{$index}}"
                 class="md-avatar"
                 alt="{{item.name}}"
                 title="{{item.name}}"/>
            <div class="md-list-item-text "
                 layout="column">
              <h3 ng-bind="(item.name) + ' ' + ( item.surname)"></h3>
              <h4 ng-bind="item.email"></h4>
              <h4 ng-bind="item.birthDate"></h4>
              <p ng-bind="(item.city) + ' ' + (item.country)"></p>
            </div>
            <md-button class="md-primary md-raised"
                       ng-click="$ctrl.showUserEmails($index)">
              User Emails
            </md-button>
            <md-button class="md-primary md-raised"
                       ng-click="$ctrl.showCharts($index)">
              User Charts
            </md-button>
          </md-list-item>
        </md-list>
      </div>
      <div class="dialog"
           ng-repeat="item in $ctrl.usersList">
        <div class="md-dialog-container"
             id="chart{{$index}}">
          <md-dialog class="chartsD">
            <h2 ng-bind="(item.name) + ' ' + ($index + 1)"></h2>
            <div id="chartsData{{$index}}"
                 class="charts-dialog-view">
            </div>
            <div id="charts{{$index}}"
                 class="charts-dialog-view">
            </div>
          </md-dialog>
        </div>
      </div>
      <div class="dialog">
        <div class="md-dialog-container" id="usersList">
          <md-dialog layout-padding>
            <h2 ng-bind="($ctrl.listOfEmails.length) + ' ' + ($ctrl.user)"></h2>
            <md-list >
              <md-list-item  ng-repeat="item in $ctrl.listOfEmails" ng-click="null">
                <p class="list"><span ng-bind="($index + 1)"></span>
                  Date: <span ng-bind="item.date"></span>
                  Group: <span ng-bind="item.group"></span>
                  Sender: <span ng-bind="item.recipient"></span>
                  Subject: <span ng-bind="item.subject"></span>
                  <br>
                  Content:
                  <br>
                  <span md-colors="{color:'primary'}" ng-bind="item.content"></span>
                </p>
              </md-list-item>
            </md-list>
          </md-dialog>
        </div>
      </div>
    </section>
  </md-content>
</div>

