<md-toolbar layout="row"
            class="md-toolbar-tools md-whiteframe-2dp"
            layout-align="space-around center"
            layout-align-xs="center center"
            id='view-changer'>
  <h2>
    <span ng-bind="$ctrl.configData.navBarTitles.global"
          ng-if="$ctrl.configData.navBarDisplay.globalChartsStats"></span>
    <span ng-bind="$ctrl.configData.navBarTitles.perUser"
          ng-if="!$ctrl.configData.navBarDisplay.globalChartsStats"></span>
  </h2>
  <div layout="row">
    <md-button ng-click="$ctrl.chartServiceData()">
      <span ng-bind="$ctrl.configData.navBarButtons.globalChartsStats"></span>
    </md-button>
  </div>
</md-toolbar>
<section class="global-chart">
  <md-tabs  md-dynamic-height
            md-border-bottom
            md-selected="$ctrl.configData.currentNavItem"
            ng-show="$ctrl.configData.navBarDisplay.globalChartsStats">
    <md-tab label="{{chart.label}}"
            ng-repeat="chart in $ctrl.configData.tags"
            aria-label="tab" >
      <md-content class="md-padding">
        <h1 ng-bind="chart.name"></h1>
        <section layout="row"
                 layout-sm="column"
                 layout-align="end center"
                 layout-wrap>
          <div layout="row"
               layout-align="start center"
               flex>
            <md-button class="switchButtons"
                       ng-click="$ctrl.previousItem()"
                       ng-bind="$ctrl.configData.buttons.prev"
                       aria-label="buttonPrev">
            </md-button>
            <span flex></span>
            <div id="{{chart.id}}"
                 class="charts-view-global">
            </div>
            <span flex></span>
          </div>
          <md-button class="switchButtons"
                     ng-click="$ctrl.nextItem()"
                     ng-bind="$ctrl.configData.buttons.next"
                     aria-label="buttonNext">
          </md-button>
        </section>
        <div id="{{chart.id}}"
             class="charts-view-global" >
        </div>
      </md-content>
    </md-tab>
  </md-tabs>
  <section layout="row"
           layout-align="center center"
           class="top">
    <md-radio-group ng-model="$ctrl.configData.currentNavItem"
                    class="md-primary radio-container">
      <md-radio-button class="radio"
                       ng-repeat="radio in $ctrl.configData.tags"
                       ng-value="radio.value"
                       aria-label="radio">
      </md-radio-button>
    </md-radio-group>
  </section>
</section>
