<div layout="column" layout-fill>
	<appheader></appheader>
	<div class="container" layout="row" flex>
		<md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
			<appnav></appnav>
		</md-sidenav>
		<md-content flex class="content">
			<section>
				<md-button class="md-primary md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.allEmails()">All</md-button>
				<md-button class="md-primary md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.socialEmails()">Social</md-button>
				<md-button class="md-primary md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.adsEmails()">Ads</md-button>
				<div id="grid1" class="grid" ui-grid="$ctrl.gridOptions" ui-grid-move-columns></div>
			</section>
		</md-content>
	</div>
</div>
