<div layout="column" layout-fill>
	<appheader></appheader>
	<div class="container" layout="row" flex>
		<md-sidenav md-component-id="menu" class="md-whiteframe-4dp">
			<appnav></appnav>
		</md-sidenav>
		<md-content flex>
			<section>
				<div class="button-section">
					<md-button class="md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.allEmails()" translate="grid.All"></md-button>
					<md-button class="md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.emailEmails()" translate="grid.Emails"></md-button>
					<md-button class="md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.socialEmails()" translate="grid.Social"></md-button>
					<md-button class="md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.adsEmails()" translate="grid.Ads"></md-button>
					<md-button class="md-raised" type="button" id="swapData" class="btn btn-success" ng-click="$ctrl.blockEmails()" translate="grid.Blocklist"></md-button>
				</div>
				<div class="email-grid">
					<div id="grid1" class="grid" ui-grid="$ctrl.gridOptions" ui-grid-move-columns></div>	
				</div>
				<div class="button-section">
				<add-email></add-email>
				</div>
			</section>
		</md-content>
	</div>
</div>
